a,
body,
div,
footer,
form,
h1,
h2,
h3,
header,
html,
img,
input,
label,
li,
nav,
p,
select,
span,
table,
textarea,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  line-height: 100%;
  font-size: 100%;
  font: inherit;
}
li,
ul {
  list-style: none;
}
button,
input,
select,
textarea {
  display: block;
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
}
button:focus,
input:focus,
textarea:focus {
  outline: none;
}
button:hover,
input[type=submit]:hover {
  cursor: pointer;
}
textarea {
  overflow: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
a,
iframe,
img,
svg,
video {
  display: block;
}
iframe,
img,
video {
  width: 100%;
  height: auto;
}
.oh {
  overflow: hidden;
}
#nav-button {
  position: fixed;
  top: 45px;
  right: 45px;
  width: 70px;
  height: 70px;
  z-index: 1000;
  border-top: 1px solid rgba(255, 48, 0, 0.5);
  border-bottom: 1px solid rgba(213, 0, 130, 0.5);
  border-left: 1px solid rgba(237, 2, 0, 0.5);
  border-right: 1px solid rgba(237, 2, 0, 0.5);
}
#nav-button #nav-button-hover,
#nav-button #nav-button-hover::before,
#nav-button #nav-button-hover::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#nav-button #nav-button-hover::before,
#nav-button #nav-button-hover::after {
  content: "";
  background: linear-gradient(180deg, #f7b733, #fc4a1a);
}
#nav-button #nav-button-hover::before {
  -webkit-transform: translate3d(0, 105%, 0);
          transform: translate3d(0, 105%, 0);
  opacity: 0;
}
#nav-button #nav-button-hover::after {
  -webkit-transform: translate3d(0, -105%, 0);
          transform: translate3d(0, -105%, 0);
  transition: -webkit-transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
}
#nav-button .nav-button-line-wrap {
  position: absolute;
  left: 22px;
  width: 26px;
  height: 1px;
}
#nav-button .nav-button-line-wrap div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#nav-button .nav-button-line-wrap .nav-button-line-dark {
  background: #fff;
}
#nav-button .nav-button-line-wrap .nav-button-line-dark.active {
  -webkit-transform: translate3d(105%, 0, 0);
          transform: translate3d(105%, 0, 0);
}
#nav-button .nav-button-line-wrap .nav-button-line-light {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
  background: #000;
}
#nav-button .nav-button-line-wrap .nav-button-line-light.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#nav-button .nav-button-line-wrap .nav-button-line-hover {
  background: #fff;
  -webkit-transform: translate3d(105%, 0, 0);
          transform: translate3d(105%, 0, 0);
}
#nav-button #nav-button-line-wrap-0 {
  top: 27px;
}
#nav-button #nav-button-line-wrap-0 .nav-button-line-dark.active-add {
  transition: -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#nav-button #nav-button-line-wrap-0 .nav-button-line-dark.active-remove {
  transition: -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 600ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 600ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 600ms, -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 600ms;
}
#nav-button #nav-button-line-wrap-0 .nav-button-line-light.active-add {
  transition: -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 900ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 900ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 900ms, -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 900ms;
}
#nav-button #nav-button-line-wrap-0 .nav-button-line-light.active-remove {
  transition: -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 200ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 200ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 200ms, -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 200ms;
}
#nav-button #nav-button-line-wrap-1 {
  top: 35px;
}
#nav-button #nav-button-line-wrap-1 .nav-button-line-dark.active-add {
  transition: -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 40ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 40ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 40ms, -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 40ms;
}
#nav-button #nav-button-line-wrap-1 .nav-button-line-dark.active-remove {
  transition: -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 640ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 640ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 640ms, -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 640ms;
}
#nav-button #nav-button-line-wrap-1 .nav-button-line-light.active-add {
  transition: -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 940ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 940ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 940ms, -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 940ms;
}
#nav-button #nav-button-line-wrap-1 .nav-button-line-light.active-remove {
  transition: -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 240ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 240ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 240ms, -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 240ms;
}
#nav-button #nav-button-line-wrap-2 {
  top: 43px;
}
#nav-button #nav-button-line-wrap-2 .nav-button-line-dark.active-add {
  transition: -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 80ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 80ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 80ms, -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 80ms;
}
#nav-button #nav-button-line-wrap-2 .nav-button-line-dark.active-remove {
  transition: -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 680ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 680ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 680ms, -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 680ms;
}
#nav-button #nav-button-line-wrap-2 .nav-button-line-light.active-add {
  transition: -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 980ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 980ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 980ms, -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 980ms;
}
#nav-button #nav-button-line-wrap-2 .nav-button-line-light.active-remove {
  transition: -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 280ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 280ms;
  transition: transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 280ms, -webkit-transform 700ms cubic-bezier(0.165, 0.84, 0.44, 1) 280ms;
}
#nav-button .nav-button-close-wrap {
  position: absolute;
  width: 1px;
  height: 26px;
  top: 22px;
  left: 35px;
}
#nav-button .nav-button-close-wrap .nav-button-close-line {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  -webkit-transform: translate3d(0, -108%, 0);
          transform: translate3d(0, -108%, 0);
}
#nav-button .nav-button-close-wrap .nav-button-close-line.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#nav-button .nav-button-close-wrap .nav-button-close-line.active-add {
  transition: -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 820ms;
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 820ms;
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 820ms, -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 820ms;
}
#nav-button .nav-button-close-wrap .nav-button-close-line.active-remove {
  transition: -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#nav-button #nav-button-close-wrap-0 {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
#nav-button #nav-button-close-wrap-1 {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
#nav-button:hover {
  cursor: pointer;
}
#nav-button:hover #nav-button-hover::before {
  opacity: 1;
  transition: -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
#nav-button:hover #nav-button-hover::after {
  opacity: 0;
  transition: none;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
#nav-menu {
  position: fixed;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  z-index: 999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  background: #1b1a25;
}
#nav-menu.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#nav-menu.active-add,
#nav-menu.active-remove {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#nav-menu #nav-menu-line-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
}
#nav-menu #nav-menu-line-wrap #nav-menu-line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #aaa;
  opacity: 0.3;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}
#nav-menu #nav-menu-line-wrap #nav-menu-line.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#nav-menu #nav-menu-line-wrap #nav-menu-line.active-add {
  transition: -webkit-transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000;
  transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000;
  transition: transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000, -webkit-transform 500ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000;
}
#nav-menu #nav-menu-line-wrap #nav-menu-line.active-remove {
  transition: -webkit-transform 1000ms linear;
  transition: transform 1000ms linear;
  transition: transform 1000ms linear, -webkit-transform 1000ms linear;
}
#nav-menu #nav-menu-list {
  padding: 0 0 2vw;
  text-align: center;
}
#nav-menu #nav-menu-list .nav-menu-link-wrap {
  display: block;
  list-style: none;
  color: #ffffff;
  font-size: calc(1rem + 6.1vh);
}
#nav-menu #nav-menu-list .nav-menu-link-wrap .nav-menu-link {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}
#nav-menu #nav-menu-list .nav-menu-link-wrap .nav-menu-link.active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#nav-menu #nav-menu-list .nav-menu-link-wrap .nav-menu-link.active-add {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 2000;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 2000;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 2000, -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 2000;
}
#nav-menu #nav-menu-list .nav-menu-link-wrap .nav-menu-link.active-remove {
  transition: -webkit-transform 1000ms linear 250;
  transition: transform 1000ms linear 250;
  transition: transform 1000ms linear 250, -webkit-transform 1000ms linear 250;
}
#nav-menu #nav-menu-list .nav-menu-link-wrap .nav-menu-link span,
#nav-menu #nav-menu-list .nav-menu-link-wrap .nav-menu-link span::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#nav-menu #nav-menu-list .nav-menu-link-wrap .nav-menu-link .nav-menu-text-white::before {
  color: #fff;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
#nav-menu #nav-menu-list .nav-menu-link-wrap .nav-menu-link .nav-menu-text-color {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
#nav-menu #nav-menu-list .nav-menu-link-wrap .nav-menu-link .nav-menu-text-color::before {
  color: #f7b733;
  background: -webkit-linear-gradient(90deg, #f7b733, #fc4a1a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  opacity: 0;
}
#nav-menu #nav-menu-list .nav-menu-link-wrap .nav-menu-link:hover .nav-menu-text-white {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  transition: -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#nav-menu #nav-menu-list .nav-menu-link-wrap .nav-menu-link:hover .nav-menu-text-white::before {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
  transition: -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  opacity: 1;
}
#nav-menu #nav-menu-list .nav-menu-link-wrap .nav-menu-link:hover .nav-menu-text-color,
#nav-menu #nav-menu-list .nav-menu-link-wrap .nav-menu-link:hover .nav-menu-text-color::before {
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
}
#nav-menu #nav-menu-list .nav-menu-link-wrap .nav-menu-link:hover .nav-menu-text-color::before {
  opacity: 1;
}
#nav-menu #nav-menu-list .nav-menu-link-wrap #nav-menu-link-0 span::before {
  content: "Home";
}
#nav-menu #nav-menu-list .nav-menu-link-wrap #nav-menu-link-1 span::before {
  content: "ITMP";
}
#nav-menu #nav-menu-list .nav-menu-link-wrap #nav-menu-link-2 span::before {
  content: "Eyegic";
}
#nav-menu #nav-menu-list .nav-menu-link-wrap #nav-menu-link-3 span::before {
  content: "Neoclub";
}
#nav-menu #nav-menu-list .nav-menu-link-wrap #nav-menu-link-4 span::before {
  content: "Ingenuity";
}
#nav-menu #nav-menu-list .nav-menu-link-wrap #nav-menu-link-5 span::before {
  content: "Meteorology";
}
#nav-menu #nav-menu-list .nav-menu-link-wrap #nav-menu-link-6 span::before {
  content: "iSports";
}
#nav-menu #nav-menu-list .nav-menu-link-wrap #nav-menu-link-7 span::before {
  content: "Honors";
}
#content-wrap {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#content-wrap #border-top,
#content-wrap #border-bottom,
#content-wrap #border-left,
#content-wrap #border-right {
  z-index: 1;
  position: absolute;
}
#content-wrap #border-top,
#content-wrap #border-bottom {
  height: 1px;
  width: calc(100% - 70px * 2);
}
#content-wrap #border-left,
#content-wrap #border-right {
  width: 1px;
  height: calc(100% - 70px * 2);
}
#content-wrap #border-top {
  top: 70px;
  left: 70px;
}
#content-wrap #border-top #border-top-left-wrap,
#content-wrap #border-top #border-top-right-wrap {
  position: absolute;
  top: 0;
  height: 100%;
}
#content-wrap #border-top #border-top-left-wrap {
  left: 0;
  width: 50%;
}
#content-wrap #border-top #border-top-left-wrap .border-line {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
#content-wrap #border-top #border-top-left-wrap .border-line.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #border-top #border-top-right-wrap {
  right: 70px;
  width: calc(50% - 70px);
}
#content-wrap #border-top #border-top-right-wrap .border-line {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
#content-wrap #border-top #border-top-right-wrap .border-line.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #border-bottom {
  bottom: 70px;
  left: 70px;
}
#content-wrap #border-bottom #border-bottom-left-wrap,
#content-wrap #border-bottom #border-bottom-right-wrap {
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
}
#content-wrap #border-bottom #border-bottom-left-wrap {
  left: 0;
  -webkit-transform: translate3d(calc(-30px - ((100px + 4.75vw) / 2)), 0, 0);
          transform: translate3d(calc(-30px - ((100px + 4.75vw) / 2)), 0, 0);
}
#content-wrap #border-bottom #border-bottom-left-wrap.link {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #border-bottom #border-bottom-left-wrap .border-line {
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
#content-wrap #border-bottom #border-bottom-left-wrap .border-line.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #border-bottom #border-bottom-right-wrap {
  right: 0;
  -webkit-transform: translate3d(calc(30px + ((100px + 4.75vw) / 2)), 0, 0);
          transform: translate3d(calc(30px + ((100px + 4.75vw) / 2)), 0, 0);
}
#content-wrap #border-bottom #border-bottom-right-wrap.link {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #border-bottom #border-bottom-right-wrap .border-line {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
#content-wrap #border-bottom #border-bottom-right-wrap .border-line.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #border-left {
  top: 70px;
  left: 70px;
}
#content-wrap #border-left #border-left-top-wrap,
#content-wrap #border-left #border-left-bottom-wrap {
  position: absolute;
  left: 0;
  width: 100%;
}
#content-wrap #border-left #border-left-top-wrap {
  height: calc(50% - 60px);
}
#content-wrap #border-left #border-left-top-wrap .border-line {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}
#content-wrap #border-left #border-left-top-wrap .border-line.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #border-left #border-left-bottom-wrap {
  bottom: 0;
  height: calc(50% - 60px);
}
#content-wrap #border-left #border-left-bottom-wrap .border-line {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
#content-wrap #border-left #border-left-bottom-wrap .border-line.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #border-right {
  top: 70px;
  right: 70px;
}
#content-wrap #border-right #border-right-top-wrap,
#content-wrap #border-right #border-right-bottom-wrap {
  position: absolute;
  left: 0;
  width: 100%;
}
#content-wrap #border-right #border-right-top-wrap {
  top: 70px;
  height: calc(50% - 70px);
}
#content-wrap #border-right #border-right-top-wrap .border-line {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}
#content-wrap #border-right #border-right-top-wrap .border-line.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #border-right #border-right-bottom-wrap {
  bottom: 0;
  height: 50%;
}
#content-wrap #border-right #border-right-bottom-wrap .border-line {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
#content-wrap #border-right #border-right-bottom-wrap .border-line.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap .border-line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #aaa;
  opacity: .5;
}
#content-wrap .border-line.show-add {
  transition: -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms;
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms;
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms, -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms;
}
#content-wrap #content-page {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 0;
  height: 1px;
  text-align: center;
  font-size: calc(1rem+0.2vw);
  width: 140px;
}
#content-wrap #content-page #content-page-line-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 61px;
  width: 18px;
}
#content-wrap #content-page #content-page-line-wrap #content-page-line {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #d1d6dc;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
#content-wrap #content-page #content-page-line-wrap #content-page-line.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #content-page #content-page-line-wrap #content-page-line.show-add {
  transition: -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms;
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms;
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms, -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms;
}
#content-wrap #content-page #content-page-top,
#content-wrap #content-page #content-page-bottom {
  position: absolute;
  left: 0;
  width: 100%;
}
#content-wrap #content-page #content-page-top {
  bottom: 0;
}
#content-wrap #content-page #content-page-top .content-page-top-no {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #content-page #content-page-top .content-page-top-no.hidden {
  height: auto;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}
#content-wrap #content-page #content-page-top .content-page-top-no.hidden-add {
  transition: -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#content-wrap #content-page #content-page-top .content-page-top-no.hidden-remove {
  transition: -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms;
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms;
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms, -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms;
}
#content-wrap #content-page #content-page-bottom {
  top: 0;
}
#content-wrap #content-page #content-page-bottom #content-page-bottom-no {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #content-page #content-page-bottom #content-page-bottom-no.hidden {
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
#content-wrap #content-page #content-page-bottom #content-page-bottom-no.hidden-remove {
  transition: -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms;
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms;
  transition: transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms, -webkit-transform 600ms cubic-bezier(0.165, 0.84, 0.44, 1) 700ms;
}
#content-wrap #content-page .content-page-wrap {
  width: 18px;
  height: auto;
  margin: auto;
}
#content-wrap #content-page .content-page-no {
  color: #181829;
  padding: 7px 0;
  width: 100%;
  float: left;
  font-size: 1.2rem;
}
#content-wrap #content-page .content-page-no.blackbg {
  color: #fff;
}
#content-wrap #intro {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  background-color: #1b1a25;
  background-size: cover;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #intro.hidden {
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
}
#content-wrap #intro.hidden-add,
#content-wrap #intro.hidden-remove {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#content-wrap #intro #intro-bg {
  opacity: 0.1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#content-wrap #intro #intro-bg img {
  width: 100%;
  height: 100%;
}
#content-wrap #intro #intro-wrap {
  position: relative;
  width: 72vw;
  height: 33.2vw;
}
#content-wrap #intro #intro-wrap #intro-title {
  width: 25vw;
  height: 33.2vw;
}
#content-wrap #intro #intro-wrap #intro-title svg rect {
  fill: none;
}
#content-wrap #intro #intro-wrap #intro-title svg text {
  stroke-width: 10;
  stroke-miterlimit: 10;
  fill: url(#gradient);
  font-family: 'AppleMyungjo';
  font-size: 300px;
}
#content-wrap #intro #intro-wrap #intro-text-wrap {
  position: absolute;
  top: 22vw;
  right: 0;
  text-align: left;
}
#content-wrap #intro #intro-wrap #intro-text-wrap .intro-text-wrap {
  width: 21.8vw;
  float: left;
  line-height: calc(13px + 0.8vw);
  padding-left: calc(1.1rem + 0.8vw);
  color: #a3adb9;
  font-size: calc(.42rem + .4vw);
}
#content-wrap #intro #intro-wrap #intro-text-wrap .intro-text-wrap .intro-text {
  width: 100%;
}
#content-wrap #intro #intro-wrap #intro-text-wrap .intro-text-wrap .intro-text .intro-text-title {
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 2px;
}
#content-wrap #intro #intro-left-wrap {
  position: absolute;
  left: 0;
  top: -6vh;
  width: 100vh;
  margin: 6vh;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  letter-spacing: 2px;
  box-sizing: border-box;
  font-size: calc(.42rem + .42vw);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  -webkit-transform: rotate(-90deg) translate3d(-100%, 0, 0);
          transform: rotate(-90deg) translate3d(-100%, 0, 0);
}
#content-wrap #intro #intro-left-wrap #intro-left-left {
  position: absolute;
  top: 0;
  left: 6.5vh;
}
#content-wrap #intro #intro-left-wrap #intro-left-center {
  text-align: center;
}
#content-wrap #intro #intro-left-wrap #intro-left-right {
  position: absolute;
  top: 0;
  right: 6.5vh;
}
#content-wrap #intro #intro-update-wrap {
  position: absolute;
  top: 71px;
  right: 142px;
}
#content-wrap #intro #intro-update-wrap #intro-update-left {
  font-size: calc(0.35rem + 0.35vw);
  letter-spacing: 1.5px;
  color: #a3adb9;
}
#content-wrap #intro #intro-update-wrap #intro-update-right {
  font-size: calc(0.42rem + 0.42vw);
  letter-spacing: 2px;
  color: #fff;
}
#content-wrap #intro #intro-line-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60px;
  height: 5.24vw;
  margin: 0 0 0 -30px;
}
#content-wrap #intro #intro-line-container #intro-line-wrap {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 1px;
  height: 100%;
}
#content-wrap #intro #intro-line-container #intro-line-wrap #intro-line {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #f7b733, #fc4a1a);
}
#content-wrap #content-case {
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#content-wrap #content-case #content-text {
  text-align: left;
}
#content-wrap #content-case #content-text #content-text-container {
  position: absolute;
  top: calc(50% - 2px);
  left: 8.33vw;
}
#content-wrap #content-case #content-text #content-text-container #content-text-line-wrap {
  position: absolute;
  top: 0;
  width: 6.77vw;
  height: 4px;
}
#content-wrap #content-case #content-text #content-text-container #content-text-line-wrap .content-text-line {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #3d3560;
  -webkit-transform: translate3d(-100%, 0, 0);
          transform: translate3d(-100%, 0, 0);
}
#content-wrap #content-case #content-text #content-text-container #content-text-line-wrap .content-text-line.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #content-case #content-text #content-text-container #content-text-line-wrap .content-text-line.show-add {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms, -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
}
#content-wrap #content-case #content-text #content-text-container #content-text-line-wrap .content-text-line.show-remove {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#content-wrap #content-case #content-text #content-text-container #content-text-title-wrap {
  position: absolute;
  bottom: calc(9px + 1.9vw);
  left: -3px;
  width: 41.66vw;
  line-height: 110%;
  letter-spacing: -1px;
  font-size: calc(1.1rem + 4.24vw);
  color: #3d3560;
  height: calc((1.1rem + 4.24vw) * 1.1);
}
#content-wrap #content-case #content-text #content-text-container #content-text-title-wrap .content-text-title {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
#content-wrap #content-case #content-text #content-text-container #content-text-title-wrap .content-text-title.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #content-case #content-text #content-text-container #content-text-title-wrap .content-text-title.show-add {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms, -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
}
#content-wrap #content-case #content-text #content-text-container #content-text-title-wrap .content-text-title.show-remove {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#content-wrap #content-case #content-text #content-text-container .content-text-desc-wrap {
  position: absolute;
  top: calc(-5px - .55vw);
  left: 8.33vw;
  width: 33.33vw;
  height: 13vh;
}
#content-wrap #content-case #content-text #content-text-container .content-text-desc-wrap .content-text-desc {
  position: absolute;
  line-height: 180%;
  color: #a3adb9;
  font-size: calc(.4rem + .718vw);
  -webkit-transform: translate3d(0, 150%, 0);
          transform: translate3d(0, 150%, 0);
}
#content-wrap #content-case #content-text #content-text-container .content-text-desc-wrap .content-text-desc.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #content-case #content-text #content-text-container .content-text-desc-wrap .content-text-desc.show-add {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms, -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
}
#content-wrap #content-case #content-text #content-text-container .content-text-desc-wrap .content-text-desc.show-remove {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#content-wrap #content-case #content-role,
#content-wrap #content-case #content-award,
#content-wrap #content-case #content-time {
  position: absolute;
  bottom: 7.8vw;
}
#content-wrap #content-case #content-role .content-bottom-title,
#content-wrap #content-case #content-award .content-bottom-title,
#content-wrap #content-case #content-time .content-bottom-title {
  color: #181829;
  letter-spacing: 1.6px;
  font-size: calc(.4rem + .5vw);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
#content-wrap #content-case #content-role .content-bottom-title.show,
#content-wrap #content-case #content-award .content-bottom-title.show,
#content-wrap #content-case #content-time .content-bottom-title.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #content-case #content-role .content-bottom-title.show-add,
#content-wrap #content-case #content-award .content-bottom-title.show-add,
#content-wrap #content-case #content-time .content-bottom-title.show-add {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms, -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
}
#content-wrap #content-case #content-role .content-bottom-title.show-remove,
#content-wrap #content-case #content-award .content-bottom-title.show-remove,
#content-wrap #content-case #content-time .content-bottom-title.show-remove {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#content-wrap #content-case #content-role .content-bottom-value-wrap,
#content-wrap #content-case #content-award .content-bottom-value-wrap,
#content-wrap #content-case #content-time .content-bottom-value-wrap {
  position: relative;
  margin: 3px 0 0;
  width: 24.33vw;
  font-size: calc(.4rem + .4vw);
  height: calc((.4rem + .4vw) * 1.5);
}
#content-wrap #content-case #content-role .content-bottom-value-wrap .content-bottom-value,
#content-wrap #content-case #content-award .content-bottom-value-wrap .content-bottom-value,
#content-wrap #content-case #content-time .content-bottom-value-wrap .content-bottom-value {
  position: absolute;
  top: 0;
  left: 0;
  color: #a3adb9;
  line-height: 150%;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
#content-wrap #content-case #content-role .content-bottom-value-wrap .content-bottom-value.show,
#content-wrap #content-case #content-award .content-bottom-value-wrap .content-bottom-value.show,
#content-wrap #content-case #content-time .content-bottom-value-wrap .content-bottom-value.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #content-case #content-role .content-bottom-value-wrap .content-bottom-value.show-add,
#content-wrap #content-case #content-award .content-bottom-value-wrap .content-bottom-value.show-add,
#content-wrap #content-case #content-time .content-bottom-value-wrap .content-bottom-value.show-add {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms, -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
}
#content-wrap #content-case #content-role .content-bottom-value-wrap .content-bottom-value.show-remove,
#content-wrap #content-case #content-award .content-bottom-value-wrap .content-bottom-value.show-remove,
#content-wrap #content-case #content-time .content-bottom-value-wrap .content-bottom-value.show-remove {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#content-wrap #content-case #content-role {
  left: 8.33vw;
}
#content-wrap #content-case #content-award {
  left: 18.66vw;
}
#content-wrap #content-case #content-time {
  left: 43vw;
}
#content-wrap #content-case #content-btn-container {
  position: absolute;
  text-align: center;
  padding: 0 28px;
  width: 166px;
  height: 44px;
  line-height: 44px;
  left: calc(50% - 83px - 28px);
  bottom: 48px;
}
#content-wrap #content-case #content-btn-container.hidden {
  -webkit-transform: translate3d(0, 300%, 0);
          transform: translate3d(0, 300%, 0);
}
#content-wrap #content-case #content-btn-container.hidden-add,
#content-wrap #content-case #content-btn-container.hidden-remove {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#content-wrap #content-case #content-btn-container #content-btn-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 28px;
  right: 28px;
}
#content-wrap #content-case #content-btn-container #content-btn-wrap #content-btn-hover,
#content-wrap #content-case #content-btn-container #content-btn-wrap #content-btn-hover::before,
#content-wrap #content-case #content-btn-container #content-btn-wrap #content-btn-hover::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#content-wrap #content-case #content-btn-container #content-btn-wrap #content-btn-hover::before,
#content-wrap #content-case #content-btn-container #content-btn-wrap #content-btn-hover::after {
  content: "";
  background: #00a1d1;
}
#content-wrap #content-case #content-btn-container #content-btn-wrap #content-btn-hover::before {
  -webkit-transform: translate3d(0, 105%, 0);
          transform: translate3d(0, 105%, 0);
  opacity: 0;
}
#content-wrap #content-case #content-btn-container #content-btn-wrap #content-btn-hover::after {
  transition: -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: translate3d(0, -105%, 0);
          transform: translate3d(0, -105%, 0);
  opacity: 1;
}
#content-wrap #content-case #content-btn-container #content-btn-wrap:hover #content-btn-hover::before {
  opacity: 1;
  transition: -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 0.8s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
#content-wrap #content-case #content-btn-container #content-btn-wrap:hover #content-btn-hover::after {
  opacity: 0;
  transition: none;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
}
#content-wrap #content-case #content-btn-container #content-btn-wrap:hover .content-btn {
  color: #fff;
}
#content-wrap #content-case #content-btn-container #content-btn-wrap .content-btn {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-sizing: border-box;
  color: #181829;
  letter-spacing: 2px;
  border: 1px solid #00a1d1;
  transition: color 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
#content-wrap #content-case #content-btn-container #content-btn-wrap .content-btn.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #content-case #content-btn-container #content-btn-wrap .content-btn.show-add {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms, -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
}
#content-wrap #content-case #content-btn-container #content-btn-wrap .content-btn.show-remove {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#content-wrap #content-case #content-btn-container #content-btn-wrap .content-btn-cover {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #00a1d1;
  -webkit-transform: translate3d(0, -105%, 0);
          transform: translate3d(0, -105%, 0);
}
#content-wrap #content-case .content-img-wrap {
  z-index: 1;
  position: absolute;
  top: 50%;
  right: -5vw;
  -webkit-transform: translate3d(0, -46%, 0);
          transform: translate3d(0, -46%, 0);
}
#content-wrap #content-case .content-img-wrap img {
  width: 40vw;
}
#content-wrap #content-case .content-img-wrap .content-img {
  -webkit-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
#content-wrap #content-case .content-img-wrap .content-img.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #content-case .content-img-wrap .content-img.show-add {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms, -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1000ms;
}
#content-wrap #content-case .content-img-wrap .content-img.show-remove {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#content-wrap #content-honors {
  position: absolute;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #1b1a25;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
#content-wrap #content-honors.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #content-honors.show-add {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms, -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 500ms;
}
#content-wrap #content-honors.show-remove {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#content-wrap #content-honors #honors-wrap {
  margin: -10px 0 0;
  width: calc(100% - 16.66vw);
}
#content-wrap #content-honors #honors-wrap #honors-title {
  line-height: 120%;
  letter-spacing: -1px;
  font-size: calc(1.1rem + 4.24vw);
  color: #fff;
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
#content-wrap #content-honors #honors-wrap #honors-title.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #content-honors #honors-wrap #honors-title.show-add {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s, -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
}
#content-wrap #content-honors #honors-wrap #honors-title.show-remove {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#content-wrap #content-honors #honors-wrap #honors-text {
  width: 100%;
  margin: auto;
}
#content-wrap #content-honors #honors-wrap #honors-text #honors-text-col {
  float: left;
}
#content-wrap #content-honors #honors-wrap #honors-text #honors-text-col .honors-text-title {
  padding: 2.1vw 0 0;
  color: #fff;
  letter-spacing: 1.6px;
  font-size: calc(.7rem + .6vw);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
#content-wrap #content-honors #honors-wrap #honors-text #honors-text-col .honors-text-title.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #content-honors #honors-wrap #honors-text #honors-text-col .honors-text-title.show-add {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s, -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
}
#content-wrap #content-honors #honors-wrap #honors-text #honors-text-col .honors-text-title.show-remove {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#content-wrap #content-honors #honors-wrap #honors-text #honors-text-col .honors-text-list {
  padding: .7vw 0 0;
  font-size: calc(.4rem + .46vw);
  line-height: calc(.3rem + 1vw);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
#content-wrap #content-honors #honors-wrap #honors-text #honors-text-col .honors-text-list.show {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
#content-wrap #content-honors #honors-wrap #honors-text #honors-text-col .honors-text-list.show-add {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s, -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
}
#content-wrap #content-honors #honors-wrap #honors-text #honors-text-col .honors-text-list.show-remove {
  transition: -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 1000ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
#content-wrap #content-honors #honors-wrap #honors-text #honors-text-col .honors-text-list .honors-text-list-label {
  color: #ff1f44;
}
#content-wrap #content-honors #honors-wrap #honors-text #honors-text-col .honors-text-list .honors-text-list-value {
  color: #838996;
}

‰PNG

   IHDR           szzô   âIDATX…í–á‚0…_<pœDFqG¨›8JÝ€ê:Áó/Š6-pzýîrÀ%ii *#ê¹-8ö“d7šPô”CXÐ<IhÓìŒoW-@zvW¾«òOÙÀ+G@$€Ñº¯&ÀÂ~1;u]W ÉKJüæKð7Î ¼ˆøÔÄR{ p²$¦h¸ˆ/iã}‹‡áéÿý˜)x Ÿ©üŸð*w3±7+Pêkb)€œÿÛXP€™* 
Ð¨íÝ”¯Qþ€Œã#¥íºQòDZ«U~—7Î\˜úè”,    IEND®B`‚